Reto-7-ETL-Procesos/nifi/flujo_nifi_extraccion.json
{"flowContents":{"identifier":"22994bce-9179-30f1-a348-ba831bf71efc","instanceIdentifier":"fd0e6e53-019c-1000-0e50-b19d71962f07","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"58335d2f-1150-3e1f-ad2b-75755374e18d","instanceIdentifier":"0c96b8a5-019d-1000-195b-6b0241812b1f","name":"GetFile","comments":"","position":{"x":-440.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"productos.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"0729e8ea-51d8-3c03-bcc6-c1a5f1f2d028","instanceIdentifier":"16a03d3d-019d-1000-286d-88ed4cff338b","name":"PutFile","comments":"","position":{"x":280.0,"y":-200.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos\\data_warehouse\\productos","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"c9a43ed7-4bfe-34b0-b47f-1350d48a6090","instanceIdentifier":"0c9abf1d-019d-1000-886f-b023eaa0c797","name":"GetFile","comments":"","position":{"x":-440.0,"y":72.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"clientes.json","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"9db1e9f5-8dd5-340f-9b5d-06f6446d50bb","instanceIdentifier":"0c9a27c3-019d-1000-7dc7-9229fce5b0c6","name":"GetFile","comments":"","position":{"x":-440.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"30 sec","Input Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"ventas.csv","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"4160e69b-f01c-3ec9-8cba-9b9f20c5b6fb","instanceIdentifier":"16a0da56-019d-1000-c59e-df19937b9117","name":"PutFile","comments":"","position":{"x":280.0,"y":72.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos\\data_warehouse\\clientes","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"504cb21c-6db2-3a69-ae2a-6ee826091126","instanceIdentifier":"168c1b97-019d-1000-e455-fcaa39b79271","name":"UpdateAttribute","comments":"","position":{"x":-80.0,"y":-200.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.8.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","fecha_procesamiento":"${now():format('yyyy-MM-dd HH:mm:ss')}","tipo_fuente":"productos","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fecha_procesamiento":{"name":"fecha_procesamiento","displayName":"fecha_procesamiento","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tipo_fuente":{"name":"tipo_fuente","displayName":"tipo_fuente","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"1690dc86-019d-1000-5ced-2a6bd14cd6aa","instanceIdentifier":"5b40ee65-1f6a-31ed-860c-953eb0514cf9","name":"UpdateAttribute","comments":"","position":{"x":-80.0,"y":-64.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.8.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","fecha_procesamiento":"${now():format('yyyy-MM-dd HH:mm:ss')}","tipo_fuente":"ventas","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fecha_procesamiento":{"name":"fecha_procesamiento","displayName":"fecha_procesamiento","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tipo_fuente":{"name":"tipo_fuente","displayName":"tipo_fuente","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"169ec853-019d-1000-b7ec-ce6600742e62","instanceIdentifier":"30f8346c-cc7c-31f7-014b-6ed5bedc4122","name":"UpdateAttribute","comments":"","position":{"x":-80.0,"y":72.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.8.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","fecha_procesamiento":"${now():format('yyyy-MM-dd HH:mm:ss')}","tipo_fuente":"clientes","Cache Value Lookup Cache Size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"fecha_procesamiento":{"name":"fecha_procesamiento","displayName":"fecha_procesamiento","identifiesControllerService":false,"sensitive":false,"dynamic":true},"tipo_fuente":{"name":"tipo_fuente","displayName":"tipo_fuente","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Cache Value Lookup Cache Size":{"name":"Cache Value Lookup Cache Size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"93976703-d03f-3698-9c69-d160984901ff","instanceIdentifier":"16a0b645-019d-1000-c2bf-832335b4c89b","name":"PutFile","comments":"","position":{"x":280.0,"y":-64.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.8.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\Usuario\\Documents\\1. Fundae\\_ Busines Analytics\\Nivel-4-BigData-ETL-DataMining\\Reto-7-ETL-Procesos\\data_warehouse\\ventas","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b2effcd0-9613-3f73-a437-b94a0d91f97f","instanceIdentifier":"16a218af-019d-1000-934e-f3e7b285b246","name":"","source":{"id":"169ec853-019d-1000-b7ec-ce6600742e62","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"30f8346c-cc7c-31f7-014b-6ed5bedc4122"},"destination":{"id":"4160e69b-f01c-3ec9-8cba-9b9f20c5b6fb","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"PutFile","comments":"","instanceIdentifier":"16a0da56-019d-1000-c59e-df19937b9117"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"4855776f-4546-3507-9d5e-e5daf62b3a11","instanceIdentifier":"16a1fee5-019d-1000-5a3b-1b82c0984e08","name":"","source":{"id":"504cb21c-6db2-3a69-ae2a-6ee826091126","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"168c1b97-019d-1000-e455-fcaa39b79271"},"destination":{"id":"0729e8ea-51d8-3c03-bcc6-c1a5f1f2d028","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"PutFile","comments":"","instanceIdentifier":"16a03d3d-019d-1000-286d-88ed4cff338b"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"24ea0518-ca97-3bb6-a5e4-58cf04f98b13","instanceIdentifier":"169f2f0b-019d-1000-cf92-9f20cbda6d9c","name":"","source":{"id":"c9a43ed7-4bfe-34b0-b47f-1350d48a6090","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"GetFile","comments":"","instanceIdentifier":"0c9abf1d-019d-1000-886f-b023eaa0c797"},"destination":{"id":"169ec853-019d-1000-b7ec-ce6600742e62","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"30f8346c-cc7c-31f7-014b-6ed5bedc4122"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"812668e9-406b-398f-9e8e-6fa27d4d675e","instanceIdentifier":"169f21aa-019d-1000-de36-fe8427224451","name":"","source":{"id":"9db1e9f5-8dd5-340f-9b5d-06f6446d50bb","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"GetFile","comments":"","instanceIdentifier":"0c9a27c3-019d-1000-7dc7-9229fce5b0c6"},"destination":{"id":"1690dc86-019d-1000-5ced-2a6bd14cd6aa","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"5b40ee65-1f6a-31ed-860c-953eb0514cf9"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"2ec15e14-e5f6-3117-9501-e6f786b2a8d5","instanceIdentifier":"16a20cea-019d-1000-ff7b-7220105a64a3","name":"","source":{"id":"1690dc86-019d-1000-5ced-2a6bd14cd6aa","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"5b40ee65-1f6a-31ed-860c-953eb0514cf9"},"destination":{"id":"93976703-d03f-3698-9c69-d160984901ff","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"PutFile","comments":"","instanceIdentifier":"16a0b645-019d-1000-c2bf-832335b4c89b"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"},{"identifier":"5a758387-4501-3411-8ec2-3f76767f9781","instanceIdentifier":"168c5799-019d-1000-3543-32b0ba833f12","name":"","source":{"id":"58335d2f-1150-3e1f-ad2b-75755374e18d","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"GetFile","comments":"","instanceIdentifier":"0c96b8a5-019d-1000-195b-6b0241812b1f"},"destination":{"id":"504cb21c-6db2-3a69-ae2a-6ee826091126","type":"PROCESSOR","groupId":"22994bce-9179-30f1-a348-ba831bf71efc","name":"UpdateAttribute","comments":"","instanceIdentifier":"168c1b97-019d-1000-e455-fcaa39b79271"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"22994bce-9179-30f1-a348-ba831bf71efc"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}